/* MAIN / COURSES */

.courses{
    background-image: url('/images/courses_background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 45px 0;
}

.courses-title{
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    color: #384158;
    margin-bottom: 0;
    line-height: 1.2
}

.courses-cards{
    margin-top: 45px;
}

.courses-content{
    margin-bottom: 0;
    line-height: 1.85;
    color: #76777a; 
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    width: 600px;
    height: 50px;
}

.courses-cards .card{
    width: 100%;
    border-radius: 6px;
    background: #FFFFFF;
    box-shadow: 0px 1px 10px rgba(29,34,47,0.1);
}

.courses-cards .card-title a {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    color: #384158;
    transition: all 200ms ease;
}

.courses-cards .card-title a:hover
{
	color: #14bdee;
}

.courses-cards .card-subtitle {
    font-size: 15px;
    font-weight: 400;
    color: #384158;
    margin-top: 6px;
}

.courses-cards .card-body {
    padding-top: 22px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 23px;
}

.courses-cards .card-text{
    margin: 15px 0;
}

.card-footer-info:first-child{
    margin-right: 18px;
}

.card-footer-info {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    color: #55555a;
}

.card-footer-info i {
    color: #ffc80a;
}

.card-footer-price {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: 700;
    color: #14bdee;
}

.card-footer-price span {
    font-size: 14px;
    font-weight: 400;
    text-decoration: line-through;
    color: #b5b8be;
    margin-right: 10px;
}

.courses-button{
    width: 210px;
    height: 46px;
    border-radius: 3px;
    background: #14bdee;
    text-align: center;
    margin: 41px auto;
    box-shadow: 0px 5px 40px rgba(29,34,47,0.15);
}

.courses-button a{
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 34px;
    color: #FFFFFF;
}

.courses-button:hover
{
	box-shadow: 0px 5px 40px rgba(29,34,47,0.45);
}