/* MAIN / EVENTS */
.events{
    width: 100%;
    padding-top: 93px;
    padding-bottom: 70px;
    background: #FFFFFF;
}

.events-title{
    max-width: 600px;
    margin: 0 auto;
}

.events-title h2{
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 32px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    color: #384158;
    margin-bottom: 0;
}

.events-text{
    line-height: 1.85;
    margin-top: 14px;
}

.events-cards{
    margin-top: 50px;
}

.events-cards .card{
    width: 100%;
    height: 95%;
    margin: 20px 30px;
}

.events-cards .card:hover .event-date {
    background-color: #14bdee;
}

.events-cards .card:hover .event-day, .events-cards .card:hover .event-month{
    color: #fff;
}

.card-img-top{
    border-radius: 3px;
}

.event-date{
    display: inline-block;
    height: 60px;
    min-width: 60px;
    box-shadow: 0px 1px 10px rgba(29, 34, 47, 0.1);
    transition: all 400ms ease;
    font-family: 'Roboto Slab', serif;
}

.event-day {
    font-size: 24px;
    color: #14bdee;
    font-weight: 700;
    line-height: 0.75;
    text-align: center;
    margin-top: 10px;
}

.event-month {
    
    font-size: 14px;
    color: #14bdee;
    font-weight: 400;
    line-height: 0.75;
    margin-top: 9px;
    text-align: center;
}


.event-content{
    padding-left: 20px;
}

.event-content-title a{
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
    color: #384158;
    transition: all 300ms ease;
}

.event-content-title a:hover{
    color: #14bdee;
}

.event-content-date{
    margin-top: 10px;
    color: #b5b8be;
    font-size: 14px;
}

.event-content-date ul{
    padding: 0;
    margin-top: 12px;
}

.event-content-date ul li{
    display: inline-block;
    color: rgb(181, 184, 190);
    font-size: 13px;
}

.event-content-date ul li i{
    margin-right: 5px;
}

.event-content-text{
    margin-top: 12px;
}

.event-interval{
    margin-right: 8px;
}