
.instagram{
    margin-bottom: 40px;
}

.instagram-title{
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    font-weight: 700;
    color: rgb(56, 65, 88);
    line-height: 0.75;
}

.instagram-list{
    margin-top: 30px;
}

.instagram-item{
    position: relative;
}

.instagram p{
    z-index: 1;
}

.instagram-overlay{
    display: block;
	position: absolute;
	top: 0;
	left: 15px;
	width: 85%;
	height: 100%;
	background: rgba(20,189,238,0.7);
	opacity: 0;
	pointer-events: none;
	font-size: 33px;
	font-weight: 300;
	color: #FFFFFF;
	transition: all 200ms ease;
}

.instagram-item:hover .instagram-overlay
{
	opacity: 1;
}
.group1
{
	outline: none;
}