
.latest-courses{
    font-family: 'Roboto Slab', serif;
    margin-bottom: 40px;
    padding: 10px;
}

.latest-title{
    font-size: 24px;
    font-weight: 700;
    color: rgb(56, 65, 88);
}

.list-unstyled{
    margin-top: 30px;
}
