
.latest-courses{
    font-family: 'Roboto Slab', serif;
    margin-bottom: 40px;
}

.latest-title{
    font-size: 24px;
    font-weight: 700;
    color: rgb(56, 65, 88);
    line-height: 0.75;
}

.list-unstyled{
    margin-top: 31px;
}
