.carousel {
    width: 100%;
    overflow:hidden;
}
.carousel .carousel-inner {
    height:100%;    
}


.carousel-control-next, .carousel-control-prev{
    background-color: #b6b7bd;
    border-radius: 50%;
    top: 45%;
    bottom: 50%;
    width: auto;
    padding: 17px 15px;
    text-align: center;
}

.carousel-control-next{
    right: 5%;
}

.carousel-control-prev{
    left: 5%;
}

.carousel-item{
    position: relative;
}

.carousel-caption{
    position: absolute;
    top: 250px;

}

.carousel-caption h5{
    font-family: 'Roboto Slab', serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
    color: #384158;
}

.carousel-item img{
	width: 100%;
}

.carousel-caption p{
    font-size: 24px;
    color: #76777a;
    margin-top: 9px;
}

.home_search_input
{
	width: 75%;
	border: 3px solid #fff;
	border-radius: 5px;
	outline: none;
	height: 35px;
	padding: 20px;
	margin: 0 auto;
}

.home_search_button
{
	width: 120px;
	height: 46px;
	background: #14bdee;
	border: none;
	outline: none;
	border-radius: 3px;
	font-size: 14px;
	font-weight: 500;
	color: #FFFFFF;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	cursor: pointer;
}
