.course-title{
    font-weight: bold;
    font-size: 20px;
    color: rgb(56 65 88) !important;
}

.course-tutor{
    color: rgb(100 100 100) !important;
    display: block;
}

.course-detail{
    display: block;
    color: rgb(56 65 88) !important;
    font-size: 17px !important;
}

.media-body p{
    align-items: justify;
}

.course-detail i{
    color: rgb(255 200 10);
}