/* HEADER / NAV */

header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	box-shadow: 0px 5px 20px rgba(0,0,0,0.05);
    background-color: #fff;
}

header.scrolled
{
    top: -40px;
}

header.scrolled .nav-menu
{
	height: 70px;
}

header.scrolled .nav-text
{
    font-size: 26px;
    margin-bottom: 5px;
}

.scrolled .nav-list .nav-elem a{
    font-size: 18px;
    margin-bottom: 20px;
}

.scrolled .search-button i{
    font-size: 15px;
}


.sidebar-open{
    display: none;
}

.sidebar-open i, .sidebar-close i{
    font-size: 20px;
    color: #353535;
}

.hide{
    display: none;
}

.show{
    display: block;
}


@media (max-width: 992px) {
    .nav-info ul{
        font-size: 12px;
    }
    .sidebar-open{
        display: inline-block;
    }
    .sidebar-open{
        display: inline-block;
    }
    header.scrolled
    {
        top: 0;
    }
    header.scrolled .nav-menu
    {
        height: 75px;
    }
}

@media (max-width: 800px){
    .nav-info{
        display: none;
    }
}