.singleCourse{
    font-family: 'Roboto', sans-serif;
    margin-top: 150px;
    margin-bottom: 50px;
    padding: 45px;
    box-shadow: 10px 10px 10px 10px rgba(29,34,47,0.1);
    border-radius: 5px;
}

.course-image{
    padding: 20px;
    margin: 20px;
    width: 100%;
}

.course-image img{
    width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 3px;
}

.media{
    margin: 10px;
    padding: 10px;
    color: #000;
}

.course-title{
    text-align: center;
    font-size: 24px;
    color: #000;
    margin-bottom: 40px;
}

.course-body{
    text-align: justify;
    font-size: 17px;
    color: #000;
}
/* 
.course-body p{
    min-height: 50vh;
} */

.badge-info{
    color: #fff !important;
    padding: 7px;
}

.fa-graduation-cap{
    color: #ffc80a;
}

.fa-book-open{
    color: rgb(20 189 238);
}